.titulo{
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 1px; /* Espaçamento entre a margem e o texto*/
    background: rgba(0, 0, 0, 0.6);
    margin: auto;
    height: 80px;
}
.pontos{
    color: aliceblue;
}
.questao{
    display: block;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    padding: 2cm; /* Espaçamento entre a margem e o texto*/
    background: rgba(77, 113, 190, 0.15);
    width: auto;
    height: auto;
    margin: 30px; 
    align-content: center;
    justify-content: center;
}
button{
    border: #6b6b12;
    border: 5px;
    margin: 10px;
    color: rgb(34, 35, 36);
    background-color: rgb(204, 187, 165);
    font-size: 20px;
    border-radius: 10px;
    padding: 50px;
    align-items: center;
}

body{
    
    display: block;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(64, 88, 54);
}
.voltar{
    display: none;
}


button:hover{
    background-color: rgb(52, 160, 52);
    cursor: pointer;
}