
body{
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url("gabriel.jpg");/*Adicionando a imagen de fundo*/
    background-position: center;
    background-size: cover;
}


.content{
    
    border-radius: 5px;
    text-align: center;
    color: white;
    padding: 3cm; /* Espaçamento entre a margem e o texto*/
    background: rgba(0, 0, 0, 0.6);
    max-width: calc(60% - 6cm);
    margin: auto;
}
button{
    text-align: center;
    margin: 20px;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: antiquewhite;
    font-size: 30px;
}
button:hover{
    background-color: rgb(52, 160, 52);
    cursor: pointer;
}